body {
  background: #111;
}

.main-header{
  font-family: 'Passion One', cursive;
  font-size: 50px;
  color: #FD8F00;
  text-align: center;
}

.main-header .big{
  margin-top:35%;
}

.main-header .small{
  margin-top:25%;
}

.main-details{
  font-family: 'Homenaje', sans-serif;
  font-size: 20px;
  color: #B6AFAF;
  text-align: center;
}

.connect-buttons{
  margin-top: 10px;
  margin-bottom: 20px;
}



.about-body{
	background-color: #141313;
}

.works-body{
  background-color: #141313;
}   

.about-head {
  margin-top: 28%;
  color: #DAAFAF;
  font-size: 25px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.description {
  margin-top: 15px;
  color: #A7A7A7;
  font-size: 30px;
  text-align: center;
  font-family: 'Dawning of a New Day', cursive;
}


.home-btn {
  margin-top: 25px;
  margin-bottom: 20px;

}

.btn-theme{
  background:#000; 
  border-radius:0; 
  color: #545454; 
  font-weight:bold; 
  font-family: 'Homenaje', sans-serif; 
  font-size: 1.2em;
  text-transform: uppercase;
}


.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}


